<%= form_with(model: instagram_tool, local: true) do |form| %>
  <% if instagram_tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instagram_tool.errors.count, "箇所") %>入力に不備があります</h2>

      <ul>
      <% instagram_tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group">
    <label>代理店名</label>
      <%= form.text_field :AgencyName, id: :instagram_tool_AgencyName, class:"form-control"%>
    </div>

    <div class="form-group">
    <label>ログインID</label>
      <%= form.text_field :LoginId, id: :instagram_tool_LoginId, class:"form-control"%>
    </div>

    <div class="form-group">
    <label>パスワード</label>
      <%= form.password_field :PassWord, id: :instagram_tool_PassWord, class:"form-control"%>
    </div>

    <div class="form-group">
    <label>契約日</label>
      <%= form.date_select :ContractDate, id: :instagram_tool_ContractDate, class:"form-control"%>
    </div>

    <div class="form-group">
    <label>顧客名</label>
      <%= form.text_field :CustomerName, id: :instagram_tool_CustomerName, class:"form-control"%>
    </div>

    <div class="form-group">
    <label>メールアドレス</label>
      <%= form.text_field :email, id: :instagram_tool_email, class:"form-control"%>
    </div>

    <div class="form-group">
    <label>顧客住所</label>
      <%= form.text_field :CustomerAddress, id: :instagram_tool_CustomerAddress, class:"form-control"%>
    </div>

    <div class="form-group">
    <label>顧客電話番号</label>
      <%= form.number_field :CustomerPhone, id: :instagram_tool_CustomerPhone, class:"form-control"%>
    </div>

    <div class="form-group">
    <label>支払い方法</label>
      <%= form.text_field :payment, id: :instagram_tool_payment, class:"form-control"%>
    </div>

    <div class="actions">
      <%= form.submit "送信する", class:"btn btn-info"%>
    </div>
    <% end %>
  </form>
