<p id="notice"><%= notice %></p>
  <div class="instagram_tool_table">
    <div class="title_and_form">
      <h1>顧客リスト</h1>

      <%= search_form_for(@q, url:search_path) do |f|%>
        <%= f.label :CustomerName_cont, '顧客名前' %>
        <%= f.search_field :CustomerName_cont%>
        <%= f.submit class:"btn btn-primary" %>
      <% end %>
    </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>代理店名</th>
        <th>ログインID</th>
        <th>パスワード</th>
        <th>契約日</th>
        <th>顧客名</th>
        <th>メールアドレス</th>
        <th>顧客住所</th>
        <th>顧客電話番号</th>
        <th>支払い方法</th>
        <th>発行状況</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @instagram_tools.each do |instagram_tool| %>
        <tr>
          <td><%= instagram_tool.AgencyName %></td>
          <td><%= instagram_tool.LoginId %></td>
          <td><%= instagram_tool.PassWord %></td>
          <td><%= instagram_tool.ContractDate %></td>
          <td><%= instagram_tool.CustomerName %></td>
          <td><%= instagram_tool.email %></td>
          <td><%= instagram_tool.CustomerAddress %></td>
          <td><%= instagram_tool.CustomerPhone %></td>
          <td><%= instagram_tool.payment %></td>
          <th><%= instagram_tool.issue_flag ? "発行済み" : "未発行" %></th>
          <td><%= link_to 'Show', instagram_tool %></td>
          <td><%= link_to 'Edit', edit_instagram_tool_path(instagram_tool) %></td>
          <td><%= link_to 'Destroy', instagram_tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= paginate @instagram_tools %>
  <%= link_to 'New Instagram Tool', new_instagram_tool_path %>
</div>
