お世話になっております。
株式会社LIM営業チームです。

この度はエターナルフォースにお申し込みありがとうございます。
以下の情報でお申し込みを承ったことをお知らせします。

<div class="form-group">
<label>代理店名</label>
<%= @customer.AgencyName%>
</div>

<div class="form-group">
<label>ご契約日</label>
<%= @customer.ContractDate%>
</div>

<div class="form-group">
<label>お名前</label>
<%= @customer.AgencyName%>
</div>

<div class="form-group">
<label>ご住所</label>
<%= @customer.AgencyName%>
</div>

<div class="form-group">
<label>お電話番号</label>
<%= @customer.CustomerPhone%>
</div>

<div class="form-group">
<label>お支払い方法</label>
<%= @customer.AgencyName%>
</div>

<div class="form-group">
<label>ログインID</label>
<%= @customer.LoginId%>
</div>

<div class="form-group">
<label>パスワード</label>
<%= @customer.PassWord%>
</div>

<p>
  アカウントを発行次第再度ご報告のメールをお送りいたしますので、発行まで少々お待ちください。
</p>

入力内容に誤りがある場合、お手数ですがこちらのメールアドレスまで
お願いします。
