<h2>エターナルフォースに新規申し込みがありました。</h2>

<div class="form-group">
<label>代理店名</label>
<%= @customer.AgencyName%>
</div>

<div class="form-group">
<label>契約日</label>
<%= @customer.ContractDate%>
</div>

<div class="form-group">
<label>顧客名</label>
<%= @customer.AgencyName%>
</div>

<div class="form-group">
<label>顧客住所</label>
<%= @customer.AgencyName%>
</div>

<div class="form-group">
<label>顧客電話番号</label>
<%= @customer.CustomerPhone%>
</div>

<div class="form-group">
<label>支払い方法</label>
<%= @customer.AgencyName%>
</div>

<div>
  <%#= link_to "詳細はこちらから",  "" %>
</div>
